#Various reference docs for development and temporary files for testing. 
somn.egg-info/
Lucid_Somnambulist/somn/database_remove/
Lucid_Somnambulist/somn/inference/infer_ref.txt
Lucid_Somnambulist/somn/workflows/_dev_scratch_code.txt
Lucid_Somnambulist/somn/workflows/buffer.mol2
Lucid_Somnambulist/somn/workflows/correlation.csv
Lucid_Somnambulist/somn/workflows/testing.csv
**/__pycache__
**/*.pyc
**/*.ipynb
Lucid_Somnambulist/somn/data/depreciation/
Lucid_Somnambulist/somn/data/dev/
Lucid_Somnambulist/somn/workflows/firstgen_calc_cat.py
Lucid_Somnambulist/somn/workflows/somn_failed_to_parse/
Lucid_Somnambulist/build/